<a href="https://colab.research.google.com/github/hyz218/baekjoonoj/blob/main/create_df_append.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [32]:
df=pd.DataFrame(columns=['A','B','C','D'])

In [41]:
for i in range(0,12):
  df.loc[i]=['A'+str(i),'B'+str(i),'C'+str(i),'D'+str(i)]

In [42]:
df

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11